<!DOCTYPE html>
<html lang="en">

<head>
    <title>Viewing Post</title>
</head>

<body>
    <div id="grid">
        <div class="post-container" id="post-container">
            <div class="photo-container" id="photo-container">
                    <h2 id="image--post-title-text">{{currentPost.title}}</h2>
                    <div id="info">
                        <div id="image-post-author" class="info-tags"> Posted By: {{currentPost.username}}</div>
                        <div id="image-post-date" class="info-tags">Posted At: {{currentPost.created}}</div>
                    </div>
                    <div id="image-post-desc" class="info-tags">Description: {{currentPost.description}}</div>
                    <img id="image-post-image" src="/{{currentPost.photopath}}" alt="A photo should have been here">
            </div>
            <div class="comment-container" id="comment-container">
                    <div id="title-comment">
                        <h2>Comments</h2>
                    </div>
                    <div id="messages">
                        {{#each currentPost.comments}}
                        {{> comment this}}
                        {{/each}}
                    </div>
                    <div id="comment-box">
                        <textarea id="comment-box-text" class="form-control"
                            aria-label="with textarea"></textarea>
                        <button type="submit" class="submit-button" id="submit-buttonV">Submit</button>
                    </div>
            </div>
        </div>
    </div>
</body>

</html>

<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        document.querySelectorAll("span[class=date-posted]").forEach((postedDate)=> {
            postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
        });
    });
    function addMessage(data){
        let template = document = document.createElement("template");
        template.innerHTML = 
        `<div id="message-${data.commentId}">
            <strong class="author-text">@${data.username}</strong>
            <span class="date-posted">${new Date().toLocaleString()}</span>
            <div class="comment-text">${data.comment}</div>
        </div>`;
        document.getElementById("messages").firstChild.before(template.content.firstChild);
    }
    document.getElementById("submit-buttonV").onclick = (event) => {
        let commentText = document.getElementById("comment-box-text").value;
        let postId = document.location.pathname.match(/\d+/g).map(Number)[0]; //get postId

        if(!commentText){
            return;
        }
        
        let fetchOptions = {
            method: "POST",
            headers: {
                "Content-Type": "Application/json"
            },
            body: JSON.stringify({
                comment: commentText,
                postId, postId
            })
        }
        fetch("/comments/create", fetchOptions)
            .then((response) => response.json())
            .then((data) => {
                if(data.code == 1){
                    addMessage(data);
                }
                else{
                    addFlashFromFrontEnd(data.message, data.status);
                }
            })
            .catch(err => console.log(err));
        }
        
    

</script>