<!DOCTYPE html>
<html lang="en">
<head>
    <title>Viewing Post</title>
</head>
<body>
    <div id="grid">
        <div class="content">
            <fieldset class="imagepost">
                <img id="image-post-image" src="/{{currentPost.photopath}}">
                <div class="form" id="form">
                    <div id="info">
                        <header id="image-post-title">
                            <h2 id="image--post-title-text">{{currentPost.title}}</h2>
                        </header>
                        <div id="image-post-author" class="info-tags"> {{currentPost.username}}</div>
                        <div id="image-post-date" class="info-tags">{{currentPost.created}}</div>
                        <div id="image-post-desc" class="info-tags">{{currentPost.description}}</div>
                    </div>
                </div>
                <div id="messages">
                    <header id="comment-title">
                        <h2>Comments</h2>
                    </header>
                </div>
            </fieldset>
        </div>
    </div>
</body>
</html>